<!DOCTYPE html>
<html>
<head>
	<title>Send An Email</title>
</head>
<body>
	<form method="POST" action="/send-email">
		<input type="text" name="from" placeholder="Nom et Prenom"/>
		<input type="email" name="to" placeholder="Destination"/>
		<input type="text" name="subject" placeholder="Sujet"/>
		<input type="text" name="message" placeholder="Votre message.."/>
		<button type="submit">Envoyer</button>
	</form>
</body>
</html>